.footer {
    background-color: #282525;
    color: #fff;
    padding: 100px 0;
}

.footer-menu {
    p {
        font-size: 0.7em;
    }
    h4 {
        color: #494345;
    }
}

.footer-color {
    color: #494345;
}