@media(max-width: 576px) {
    .carousel-text {
        font-size: 2em;
        margin-bottom: 0;
    }
    
    .bg-image {
        height: 200px;
        .content {
            width: 80%;
        }
        
    }

    .bg-white-pq{
        padding: 5px 20px;
    }
}